{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "plugin:flowtype/recommended"],
  "plugins": ["flowtype"],

  "env": {
    "node": true,
    "jest": true
  },

  "rules": {
    "indent": [2, 4, {"SwitchCase": 1}]
  }
}
